:root {
  /* 品牌主色：浅色模式 */
  /* --vp-c-brand-1: #3eaf7c; 
  --vp-c-brand-2: #42b983;
  --vp-c-brand-3: #4abf8a; */
}

.dark {
  /* 品牌主色：深色模式 */
  /* --vp-c-brand-1: #64ffda;
  --vp-c-brand-2: #52d1b2;
  --vp-c-brand-3: #42b89d; */
}